@model IEnumerable<SocialNetwork.Models.Feed>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FeedId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                # of posts
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FeedId)
        </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posts.Count)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit","Feed", new {id = item.FeedId}) |
                @Html.ActionLink("Details", "Details", new { id = item.FeedId }) |
                @Html.ActionLink("Delete", "Delete", "Feed", new {id = item.FeedId})|
                @Html.ActionLink("Add post", "Create", "Post", new {id = item.FeedId})
            </td>
        </tr>
}
    </tbody>
</table>
