@using Microsoft.AspNetCore.Mvc.ModelBinding.Metadata
@model SocialNetwork.Models.User


@{
    ViewData["Title"] = "Details";
}

<h1>Welcome, @Model.Name</h1>

<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.UserId)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.UserId)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Gender)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Gender)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Age)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Age)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Location)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Location)
    </dd>
    <dt class="col-sm-2">
        See feed:
    </dt>
    <dd class="col-sm-10">
        @Html.ActionLink("Feed", "Details", "Feed", new { id = Model.UserId })
    </dd>
</dl>

<hr />
<div style="float:end">
    <ul style="width: 20%; float:left">
        <h3>Followers:</h3>
        @{
            if (Model.Followers != null)
            {
                foreach (var follower in Model.Followers)
                {
                    <li>@follower</li>
                }
            }
        }
    </ul>

    <ul style="width: 20%; float: left">
        <h3>Circles:</h3>
        @{
            if (Model.Circles != null)
            {
                foreach (var circle in Model.Circles)
                {
                    <li>@Html.ActionLink($"{circle}", "Details", "Circle", new { id = circle, loggedId = Model.UserId })</li>
                }
            }
        }
    </ul>

    <ul style="width: 20%;float:left">
        <h3>You follow:</h3>
        @{
            if (Model.Following != null)
            {
                foreach (var follow in Model.Following)
                {
                    <li>@follow</li>
                }
            }
        }
    </ul>

    <ul style="width: 20%; float: left">
        <h3>Blocked:</h3>
        @{
            if (Model.Blocked != null)
            {
                foreach (var block in Model.Blocked)
                {
                    <li>@block</li>
                }
            }
        }
    </ul>

</div>

<br />
<br />
<br />
<br />
<br />
<hr />

<div class="" style="width: 60%; float:left">
    <h5>Add a follower:</h5>
    <form asp-controller="User" asp-action="AddFollower">
        <input type="hidden" asp-for="UserId" value="@Model.UserId">
        <label>UserId: </label>
        <input type="text" id="userToFollowId" name="userToFollowId" />
        <input type="submit" />
    </form>


    <h5>Follow a user:</h5>
    <form asp-controller="User" asp-action="AddFollowing">
        <input type="hidden" asp-for="UserId" value="@Model.UserId">
        <label>UserId: </label>
        <input type="text" id="userToFollowingId" name="userToFollowingId" />
        <input type="submit" />
    </form>

    <h5>Block a user:</h5>
    <form asp-controller="User" asp-action="AddBlocking">
        <input type="hidden" asp-for="UserId" value="@Model.UserId">
        <label>UserId: </label>
        <input type="text" id="userToBlockId" name="userToBlockId" />
        <input type="submit" />
    </form>
    <h5>Join a circle:</h5>
    <form asp-controller="Circle" asp-action="AddUser">
        <input type="hidden" asp-for="UserId" value="@Model.UserId" />
        <label>CircleId:  </label>
        <input type="text" id="CircleId" name="CircleId" />
        <input type="submit" />
    </form>
</div>

<div style="width: 40%; float: left">
    <h5>Visit another user:</h5>

    <ul>


        @{
            var list = ViewData["userlist"] as List<User>;

            if (list != null)
            {
                foreach (var user in list)
                {

                    if (user.UserId != Model.UserId)
                    {
                        <li>
                            @Html.ActionLink($"{user.Name}", "DetailsFromUser", "Wall", new { viewerId = Model.UserId, userId = user.UserId })
                        </li>
                    }

                }
            }
        }
    </ul>


</div>


<div style="width: 60%; float: left">
    @await Html.PartialAsync("~/Views/Post/Create.cshtml",
        new Post{OwnerId = Model.UserId})
</div>
<div style="width: 40%; float: left">
    @await Html.PartialAsync("~/Views/Wall/Details.cshtml",
        ViewData["wall"])

</div>

<div style="width: 40%; float: left">
    @await Html.PartialAsync("~/Views/Circle/_Create.cshtml",
        new Circle {  })
</div>
