@model IEnumerable<SocialNetwork.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>

                @Html.ActionLink("Edit", "Edit", "User", new { id = item.UserId }) |
                @Html.ActionLink("Details", "Details", "User", new { id = item.UserId }) |
                @Html.ActionLink("Delete", "Delete", "User", new { id = item.UserId }) |
                @Html.ActionLink("Wall", "Details", "Wall", new { id = item.UserId }) |
                @Html.ActionLink("Feed", "Details", "Feed", new { id = item.UserId }) |
                @Html.ActionLink("Posts", "Create", "Post", new {post = new Post(), id = item.UserId })
            </td>
        </tr>
}
    </tbody>
</table>
